<footer>
    <div class="menu">
        <div>
            <p>Escríbenos</p>
            <div class="menu__whatsapp">
                <img src="/static/public/images/whatsapp.svg" alt="" width="25" height="25">
                <a href="https://api.whatsapp.com/send?phone=+34644957072" target="_blank">644 957 072</a>
            </div>
        </div>
        <div>
            <p>Legal</p>
            <div>
                <a href="/privacidad">Aviso de privacidad</a>
            </div>
            <div>
                <a href="/terminos-condiciones">Terminos y condiciones</a>
            </div>
        </div>
        <div>
            <p>Apoyo</p>
            <div>
                <a>¿Necesitas ayuda?</a>
            </div>
            <div>
                <a href="/contacto">Contactanos</a>
            </div>
        </div>
    </div>
    <div class="info">
        <div>
            <img src="/static/public/images/music_footer.svg" alt="">
        </div>
        <div class="footer__copyright">
            <p>
                © 2021 Music &amp; Soul. Todos los derechos reservados
            </p>
        </div>
    </div>
</footer>