<!DOCTYPE html>
<html>
<%- include('./partials/header', { title: title }); %>

<body>

    <link rel="stylesheet" href="/static/public/css/preguntas-frecuentes.css">
    <%- include('./partials/nav', { linkId }); %>
    <main>
        <section class="hero nav__padding">
            <h1 class="underline appear">Preguntas frecuentes</h1>
            <ul>
                <li>
                    <h2 class="appear">¿Dónde está la academia?</h2>
                    <p class="appear">
                        Music & Soul es una plataforma de formación musical, no es una academia con un espacio físico.
                        Impartimos las clases a
                        domicilio (sin suplementos por desplazamiento), en el espacio del profesor u online.
                        <br>
                        No necesitamos un centro con aulas para mantener a nuestros alumnos motivados y ofrecer
                        formación de
                        calidad y esto es
                        algo de lo que estamos orgullosos, puesto que, gracias a ello, podemos estar presentes hoy en
                        día en
                        8 provincias
                        españolas.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Qué tengo que hacer para apuntarme?</h2>
                    <p class="appear">
                        Simplemente solicitar una clase de prueba. Accede al apartado CONTACTO, registra tu solicitud y
                        nuestro profesor se
                        pondrá en contacto contigo. Cuando hayas recibido la clase de prueba y nos comuniques que deseas
                        continuar, te
                        enviaremos nuestra matrícula, gratuita con cualquiera de nuestros packs de clases.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Qué obligaciones tengo?</h2>
                    <p class="appear">
                        No tienes ninguna obligación. Nuestra única intención es ayudarte a mejorar y conseguir que
                        disfrutes con la música. Con
                        cualquiera de nuestros packs de clases, la matrícula es gratuita y no te compromete a nada. Tú
                        decides cuándo empiezas y
                        cuándo lo dejas.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Cuántas clases tengo que dar al mes?</h2>
                    <p class="appear">Las que tú decidas.
                        <br>
                        A partir de la clase de prueba, tú decides qué pack de clases se adapta mejor a lo que
                        necesitas.
                        Puedes dar desde 1
                        hora al mes hasta 8 o más, todo va en función del tiempo que le quieras dedicar a tu formación o
                        de
                        cuáles sean tus
                        objetivos, si pretendes ser un músico aficionado o profesional.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Cómo y cuándo pago las clases?</h2>
                    <p>
                        Las clases se abonan a Music & Soul, en ningún caso al profesor. Nuestra clase de prueba puedes
                        abonarla con carácter
                        previo o a su finalización, como máximo. Las clases restantes del mes posteriores a la clase de
                        prueba, se abonan todas
                        juntas un día antes de la segunda clase. En ambos casos a través de nuestra pasarela de pagos, a
                        la cual podrás acceder
                        registrándote en el apartado <a href="/ingresar">INGRESAR</a> de nuestra página web. Finalizado
                        el primer mes de clases,
                        puedes suscribirte a
                        cualquiera de los packs que encontrarás en el apartado <a href="/precios">PRECIOS</a>; la
                        suscripción no implica ningún
                        tipo de permanencia,
                        por lo que, si quieres dejar las clases en cualquier momento, sólo tienes que avisarnos antes
                        del día 1 del mes
                        siguiente para que podamos darte de baja.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Puedo pagar en efectivo?</h2>
                    <p class="appear">
                        No aceptamos pagos en efectivo.
                        Nuestros profesores no reciben el pago de las clases, Music & Soul paga directamente al profesor
                        por
                        las clases que
                        imparte.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Puedo pagar después de la clase si decido dar clases esporádicas?</h2>
                    <p class="appear">
                        No es posible.
                        <br>
                        El total de las clases que el alumno haya decidido recibir durante el mes, han de abonarse
                        siempre antes de los días 3
                        de cada mes.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Tengo que dar mi clase semanal siempre el mismo día?</h2>
                    <p class="appear">
                        No necesariamente, siempre puedes comentarle a nuestro profesor cuál es tu disponibilidad para
                        que
                        cada semana, si su
                        agenda se lo permite, se pueda adaptar al día que mejor te venga para la clase.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Qué pasa si pago por un pack y cancelo las clases? ¿Son acumulables para el mes
                        siguiente?</h2>
                    <p class="appear">
                        Las clases canceladas son recuperables dentro del mes en curso siempre y cuando canceles tu
                        clase
                        con la antelación que
                        el profesor haya acordado contigo después de la clase de prueba. No son acumulables para el mes
                        siguiente, son
                        recuperables dentro del mes en curso.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Qué pasa si cancelo mi clase la última semana del mes?</h2>
                    <p class="appear">
                        En este caso y siempre que hayas cancelado tu clase con la antelación acordada con tu profesor,
                        puedes recuperar dicha
                        clase durante el mes siguiente, siempre que esto no suponga abonar una clase menos el mes
                        sucesivo,
                        puesto que las
                        clases son recuperables, no acumulables.
                    </p>
                </li>
                <li>
                    <h2 class="appear">¿Qué beneficios tengo por estar con Music & Soul?</h2>
                    <ul>
                        <li>
                            1. En primer lugar, todos nuestros profesores tienen la formación musical requerida para que
                            tu experiencia sea
                            gratificante y alcances tus objetivos.
                        </li>
                        <li>
                            2. Desgraciadamente, las clases de música se venden a precio de oro, y debido a esto muchos
                            no pueden permitirse el
                            poder desarrollar su gran pasión por la música. Nuestra relación calidad precio merece
                            bastante la pena. Además, ofrecemos clases a domicilio sin
                            suplementos por desplazamiento.
                        </li>
                        <li>
                            3. Nuestros precios incluyen la formación, el material (libros, métodos, partituras...) y el
                            desplazamiento. Además, te
                            hacemos un descuento de 5€ en nuestra clase de prueba, porque sabemos que vas a continuar.
                        </li>
                        <li>
                            4. Te asesoramos en la compra de tu instrumento.
                        </li>
                        <li>
                            5. Sabemos que, por nuestro ritmo de vida, a veces es inevitable tener que cancelar las
                            clases y por eso te ofrecemos la
                            posibilidad de poder recuperarlas dentro del mes en curso.
                        </li>
                        <li>
                            6. Por cada alumno que nos traigas tendrás un mes de clases gratis cuando haya abonado su
                            primer mes completo.
                        </li>
                        <li>
                            7. Te garantizamos la formación necesaria para conseguir tu plaza en el conservatorio u
                            obtener cualquier título
                            oficial.
                        </li>
                        <li>
                            8. En caso de un cambio de domicilio, siempre podremos ofrecerte otro profesor que siga
                            aportando formación de calidad.
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Cuándo acaba el curso?
                    </h2>
                    <p class="appear">
                        Music & Soul imparte clases ininterrumpidamente los 12 meses del año. Tú decides cuándo empiezan
                        tus vacaciones y cuándo
                        lo retomas. ¡Sólo te pedimos que nos avises!
                    </p>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Hay clases en Navidades?
                    </h2>
                    <p class="appear">
                        Impartimos clases los 12 meses del año, incluyendo el período navideño, excepto los días 24, 25,
                        31/12 y 01 y 06/01.
                        Durante el mes de diciembre, siempre puedes optar por reorganizar las clases con tu profesor en
                        los días lectivos o
                        escoger un pack de clases inferior al habitual.
                    </p>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Hay clases en Semana Santa?
                    </h2>
                    <p class="appear">
                        Impartimos clases en Semana Santa puesto que trabajamos todo el año; puedes optar por
                        reorganizar las clases con tu
                        profesor en los días lectivos o escoger un pack de clases inferior al habitual.
                    </p>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Qué debo hacer si decido interrumpir las clases?
                    </h2>
                    <p class="appear">
                        Sólo tienes que avisarnos una semana antes de que empiece el nuevo mes y gestionaremos tu baja
                        de inmediato.
                    </p>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Es suficiente con avisar al profesor cuando tenga que cancelar una clase?
                    </h2>
                    <p class="appear">
                        Sí, es suficiente.
                    </p>
                </li>
                <li>
                    <h2 class="appear">
                        ¿Puedo cambiar puntualmente mi clase de día una semana que lo necesite?
                    </h2>
                    <p class="appear">
                        Sin ningún problema, siempre y cuando avises del cambio a tu profesor con la antelación que te
                        haya indicado.
                    </p>
                </li>
            </ul>
        </section>
    </main>
    <%- include('./partials/footer', { page: '/' }); %>
    <%- include('./partials/scripts', { scripts: ["scripts.js", "appear.js", "dropdown.js"] }); %>

</body>


</html>