<!DOCTYPE html>
<html>
<%- include('./partials/header', { title: title }); %>

<body>
    <link rel="stylesheet" href="/static/public/css/terminos.css" />
    <%- include('./partials/nav', { linkId }); %>
    <main>
        <section class="hero nav__padding">
            <h1 class="underline ">Términos y Condiciones</h1>
            <p class="">
                <b>MUSIC & SOUL</b> es una Plataforma online creada como punto de encuentro entre alumnos interesados en
                recibir
                formación
                musical y profesores de música interesados en impartir clases de música; y que está especializada en la
                prestación de
                servicios de captación de alumnos interesados en su formación musical, teórica o instrumental, así como
                en
                la selección
                de profesores y en el asesoramiento en la formación musical a los alumnos. El alumno/a tiene interés en
                recibir
                formación musical y encomienda a MUSIC & SOUL, la selección de un profesor/a adecuado a sus necesidades
                y a
                su formación
                musical.
            </p>
            <h2 class="">Clase de prueba.</h2>
            <p class="">
                MUSIC & SOUL ofrece al alumno/a una clase de prueba con el profesor/a con el fin de que éste/a pueda
                decidir
                la
                continuidad con el servicio de formación musical en función de su grado de satisfacción y sus
                expectativas
                previas. La
                clase de prueba será abonada a MUSIC & SOUL por el alumno/a con carácter previo a su realización, o a su
                finalización el
                mismo día que ésta se haya impartido, al precio acordado entre las partes. El alumno/a en ningún caso
                realizará el pago
                directamente al profesor/a.
            </p>

            <h2 class="">Contratación de clases.</h2>
            <p class="">
                Una vez realizada la clase de prueba y con la conformidad del alumno/a y del profesor/a para continuar
                con
                el servicio
                de formación musical, MUSIC & SOUL acordará con el alumno/a el número de horas de clases mensuales que
                desea
                que se le
                impartan, al precio acordado entre las partes. El alumno/a abonará a MUSIC & SOUL el importe mensual de
                las
                clases por
                mes anticipado antes del día 1 de cada mes. Para el primer mes de prestación del servicio, las clases
                del
                mes deberán
                ser abonadas antes de que sea impartida la segunda clase, considerando que la primera clase recibida es
                la
                de prueba. El
                alumno/a en ningún caso realizará el pago directamente al profesor/a.
            </p>
            <h2>Cancelaciones y recuperaciones de clases.</h2>
            <p>
                Cuando el alumno/a haya contratado el servicio mensual del pack de
                clases en que esté interesado/a, el profesor/a se compromete a prestar
                el total de estas clases dentro de cada mes natural, reorganizando con
                el alumno/a el día y la hora si el día habitual cayera en festivo.
                <br /><br />
                Si por motivo de enfermedad u otras causas justificadas del alumno/a
                se tuviera que suspender alguna de las clases mensuales, y esta causa
                es notificada al profesor/a con la antelación acordada, esta clase
                deberá recuperarse dentro del mes natural en el día y hora que ambos
                acuerden.
                <br /><br />

            <h2 class="">Suscripción a un pack de clases.</h2>
            <p>
                Para que el alumno/a pueda suscribirse al pack de clases que más le interese, debe acceder al apartado
                INGRESAR de
                nuestra página web, registrarse y gestionar el alta desde su área personal.
                <br /><br />
                La suscripción a cualquiera de los packs de clases de MUSIC & SOUL no implica permanencia alguna por
                parte del alumno/a,
                pudiendo este/a interrumpir las clases cuando lo crea oportuno.
                <br /><br />
                Los días 1 de cada mes se cargará el importe correspondiente al pack de clases al que el alumno/a se
            haya suscrito.
                <br /><br />
                En los meses de 5 clases, el alumno/a accederá a su área personal <a href="/ingresar">(INGRESAR)</a>,
                pudiendo abonar
                puntualmente una clase más
                si así lo desease.
                <br /><br />
                Cuando el alumno/a no quiera continuar con las clases, deberá notificarlo a MUSIC & SOUL antes del día 1
                del mes
                siguiente, ocupándose MUSIC & SOUL de gestionar la baja de la suscripción de manera inmediata.
            </p>

            <h2 class="">Cancelaciones y recuperaciones de clases.</h2>
            <p class="">

                Cuando el alumno/a haya contratado el servicio mensual de un mínimo de cuatro clases o el número de
                clases
                esporádicas
                que decida recibir, el profesor/a se compromete a prestar el total de estas clases dentro de cada mes
                natural,
                reorganizando con el alumno/a el día y la hora si el día habitual cayera en festivo.
                <br><br>
                Si por motivo de enfermedad u otras causas justificadas del alumno/a se tuviera que suspender alguna de
                las
                clases
                mensuales, esta causa será notificada al profesor/a con la antelación que el profesor/a haya indicado al
                alumno una vez
                finalizada la clase de prueba. Esta clase deberá recuperarse dentro del mes natural en el día y hora que
                ambos acuerden.
                <br><br>
                Si por motivo de enfermedad u otras causas justificadas del alumno/a se tuviera que suspender alguna de
                las
                clases
                mensuales y esta causa no es notificada al profesor/a con la antelación que el profesor/a haya indicado
                al
                alumno una
                vez finalizada la clase de prueba, el alumno/a perderá su clase, sin derecho a recuperación ni
                devolución
                del importe
                abonado.
                <br><br>
                Si por motivo de enfermedad u otras causas justificadas del profesor/a se tuviera que suspender alguna
                de
                las clases
                mensuales, esta clase deberá recuperarse dentro del mes natural en el día y hora que ambos acuerden.
                <br><br>
                Si por motivos de agenda no pudiera recuperarse una clase suspendida dentro del mes natural, ésta se
                deberá
                recuperar en
                el mes inmediatamente posterior, sin perjuicio de que en este mes se continúen abonando la totalidad de
                las
                clases
                mensuales que el alumno haya contratado al inicio del servicio.
            </p>
            <h2 class=""> Cancelaciones y recuperaciones de clases por motivos de Covid-19.</h2>
            <p class="">
                En el caso de que un alumno/a deba suspender la clase por contacto directo por un positivo de Covid-19 y
                esta situación
                no pudiera ser notificada al profesor/a con la antelación que el profesor/a haya indicado al alumno una
                vez
                finalizada
                la clase de prueba, el alumno podrá solicitar que la clase se realice de forma on-line, evitando
                contacto
                personal entre
                ambos, en caso contrario, el alumno/a perderá su clase, sin derecho a recuperación ni devolución del
                importe
                abonado.
                <br><br>
                En el supuesto de clases presenciales que no puedan impartirse por haberse confinado el municipio,
                distrito,
                barrio o
                área de salud, del alumno/a o del profesor/a, el alumno/a decidirá si quiere recibir clases online o
                suspender
                temporalmente la prestación de las clases hasta el final de esta restricción de movilidad.
            </p>
        </section>
    </main>
    <%- include('./partials/footer', { page: '/' }); %>
    <%- include('./partials/scripts', { scripts: ["scripts.js", ".js", "dropdown.js"] }); %>


</body>

</html>