<!DOCTYPE html>
<html>
<%- include('./partials/header', { title: title }); %>

<body>
    <link rel="stylesheet" href="/static/public/css/index.css" />
    <link rel="stylesheet" href="/static/public/css/form.css" />

    <%- include('./partials/nav', { linkId }); %>
    <main>
        <div class="overlay nav__padding"></div>
        <section class="nav__padding">
            <div class="message">
                <% if (expired) { %>
                <h1>
                    Su enlace de validación ha expirado. <br />
                    Solicite uno nuevo después de ingresar al sistema.
                </h1>
                <% } else { %>
                <h1>
                    Se ha validado su email correctamente. <br />
                    <% if (session.user.type !== 'CLIENT') { %> Ingrese al sistema a
                    través del siguiente enlace:
                    <a href="/ingresar" target="__self">ingresar</a>
                    <% } %>
                </h1>
                <p>
                    Será redireccionado en <span id="redirectionCounter">3</span> segundos
                </p>
                <% } %>
            </div>
            <script>
                const label = document.querySelector('#redirectionCounter');
                let i = 3;
                let interval = setInterval(() => {
                    label.innerHTML = i;
                    i--;
                    if (i === 0) {
                        clearInterval(interval);
                        window.location = '/ingresar';
                    }
                }, 1000)
            </script>
        </section>
    </main>
    <%- include('./partials/footer', { page: '/' }); %> <%-
    include('./partials/scripts', { scripts: ["scripts.js", "appear.js",
    "dropdown.js"] }); %>
    <!-- <script src="/static/public/js/dropdown.js"></script> -->
</body>

</html>