.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
