<%- include('../partials/header', {title: "Crear usuario" }); %>

<body>
    <form method="POST" action="/users/" enctype="multipart/form-data">
        <input type="text" placeholder="email" name="email" id="email" />
        <button type="submit">Enviar</button>
    </form>
</body>

</html>