<html>
<%- include('../partials/header', {title: "Usuarios" }); %>

<body>
    <%- include('../partials/nav'); %>
    <div class="columns">
        <div class="column is-one-quarter">
            <%- include('../partials/aside', { user }); %>
        </div>
        <div class="column">
            Im freaking content
        </div>
    </div>

</body>




<script src="/static/js/nav.js"></script>

</html>